/* Refactor this */
/* 
TODO: If an element is deleted, have the remaining elements hug the left side of the page, while remaining centered 

*/

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.wrapper {
  margin-top: 15px;
}

/* Filter Buttons */
.buttons {
  display: flex;
  justify-content: center;
}

#cats {
  background-color: lightblue;
  color: black;
  border: 1px solid black;
}

#dinos {
  background-color: yellow;
  color: black;
  border: 1px solid black;
}

#dogs {
  background-color: green;
  border: 1px solid black;
}

/* Types on cards */
.dino {
  background-color: yellow;
  margin: 0;
}

.cat {
  background-color: lightblue;
  margin: 0;
}

.dog {
  background-color: green;
  margin: 0;
  color: white;
}

.card-img-top {
  width: 200px;
  height: 200px;
  max-width: 300px;
  align-self: center;
}

.card {
  margin: 1%;
  width: 31%;
  text-align: center;
  min-width: 500px;
}

.card-title {
  padding: 8px;
  background-color: lightgray;
}

.btn {
  margin: 5px 5px;
}

form {
  margin: 0 20px 20px 20px;
}

.form-select {
  margin-bottom: 15px;
  height: 58px;
}

.btn-danger {
  margin: 10px auto;
}

h3 {
  margin: 0 0 0 24px;
}
